header {
    background-color: $color-white-1;
    padding: $pd-1 0;
    box-shadow: 0 2px 4px $color-white-2;

    .navbar-brand {
        @include styleText($fs-3, $color-blue-2, $fw-2);
    }

    .navbar-nav {
        .nav-link {
            @include styleText($fs-2, $color-blue-1, $fw-1);
            padding: 25px !important;
            &::after {
                content: "";
                width: 100%;
                height: 2px;
                display: block;
                background-color: $color-blue-2;
                transform: scale(0);
                transition: 0.5s;
            }
            &:hover {
                color: $color-blue-2;

                &::after {
                    transform: scale(1);
                }
            }
        }

        .active {
            .nav-link {
                color: $color-blue-2;
                &::after {
                    transform: scale(1);
                }
            }
        }
    }
}
